PORT=3001
DB_URL=mongodb://localhost:27017/5star
JWT_REFRESH_SECRET=akvjadbvjadbvjabvjavjabv
JWT_ACCESS_SECRET=kldvladvjladvdajlhknkvd

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=

REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=''
REDIS_HOST='localhost'
REDIS_PORT=6379

DB_DRIVER="postgres"
DB_HOST="localhost"
DB_PORT=5432
DB_USER="postgres"
DB_PASS=""
DB_NAME="5star"